IMPORTING MODULES

In [70]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import random

IMPORTING DATASET

In [71]:
train_df = pd.read_csv("C:/Users/Dell/Dropbox (Old)/My PC (DESKTOP-9I2HO18)/Downloads/mnist_train_small.csv")
test_df = pd.read_csv("C:/Users/Dell/Dropbox (Old)/My PC (DESKTOP-9I2HO18)/Downloads/mnist_test.csv")

In [72]:
train_df.head()

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
train_df["0.56"]

0        0
1        0
2        0
3        0
4        0
        ..
19994    0
19995    0
19996    0
19997    0
19998    0
Name: 0.56, Length: 19999, dtype: int64

In [74]:
df_new = train_df.rename(columns={'6': 'Label'})

In [75]:
df_new.head()

,Label,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df_new

,Label,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
len(df_new.index)

19999

In [78]:
matx=df_new.drop(["Label"], axis=1)

Adding one more column with entries 1

In [79]:
list1=[]
for i in range (0,19999):
    list1.append(1)

Defining a function for matrix multiplication

In [80]:
def matmul(a,b):
    p = len(a)    #rows
    #q = len(a[0]) #columns
    #r = len(b)    
    s = len(b[0])
    #d=np.zeros((3,4),dtype=int)
    d=np.zeros((p,s),dtype=int)
    for i in range(len(a)):
        for j in range(len(b[0])):
            for k in range(len(b)):
                d[i][j] += a[i][k] * b[k][j]
    return(d[0][0])

Initializing the weights

In [81]:
theta=np.zeros((1,785),dtype=int)

In [82]:
theta

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [83]:
for i in range(0,785):
    theta[0][i]=random.randint(0,9)

In [84]:
theta

array([[7, 2, 7, 0, 2, 0, 0, 7, 5, 1, 7, 8, 3, 5, 7, 7, 9, 7, 7, 4, 5, 3,
        9, 1, 9, 3, 9, 0, 8, 4, 0, 1, 7, 0, 4, 9, 8, 7, 9, 5, 5, 8, 1, 9,
        4, 5, 7, 0, 8, 8, 1, 1, 3, 2, 6, 5, 1, 9, 8, 1, 6, 9, 7, 5, 5, 2,
        2, 6, 4, 8, 1, 0, 6, 1, 5, 0, 2, 5, 4, 8, 6, 2, 5, 2, 2, 3, 4, 9,
        4, 9, 4, 5, 4, 2, 5, 4, 5, 8, 3, 9, 3, 4, 0, 0, 8, 7, 3, 2, 0, 7,
        6, 8, 2, 9, 5, 8, 1, 0, 6, 4, 5, 7, 9, 9, 1, 8, 3, 8, 0, 8, 3, 2,
        1, 5, 1, 5, 8, 2, 3, 5, 9, 0, 7, 7, 2, 7, 7, 7, 5, 6, 4, 7, 4, 6,
        6, 9, 8, 8, 1, 8, 3, 8, 5, 9, 8, 5, 3, 6, 0, 5, 5, 0, 0, 8, 3, 9,
        9, 7, 3, 4, 1, 6, 1, 8, 4, 9, 5, 2, 9, 9, 0, 7, 9, 6, 9, 9, 9, 3,
        3, 5, 9, 2, 2, 6, 0, 3, 6, 6, 9, 5, 1, 4, 6, 5, 3, 9, 3, 1, 2, 7,
        5, 9, 0, 9, 3, 6, 0, 6, 6, 1, 7, 0, 1, 1, 4, 5, 4, 6, 2, 8, 5, 3,
        0, 2, 7, 7, 4, 6, 0, 4, 6, 8, 2, 5, 3, 5, 8, 5, 0, 5, 8, 9, 4, 1,
        9, 4, 0, 4, 7, 1, 5, 4, 3, 4, 6, 7, 9, 6, 3, 6, 2, 6, 3, 2, 8, 8,
        4, 0, 2, 5, 2, 2, 1, 3, 8, 4, 2, 4, 4, 2, 9, 6, 0, 8, 4, 0, 1, 3,
        3, 6, 1, 2, 5, 9, 5, 1, 1, 3, 2, 6, 4, 9, 6, 4, 8, 8, 0, 0, 9, 6,
        1, 6, 1, 9, 5, 6, 9, 2, 1, 0, 0, 3, 6, 8, 4, 5, 2, 6, 8, 9, 7, 4,
        4, 1, 7, 5, 8, 9, 9, 8, 3, 0, 0, 1, 3, 7, 7, 2, 2, 3, 2, 2, 2, 9,
        4, 9, 0, 1, 4, 1, 2, 3, 4, 6, 9, 8, 0, 9, 6, 3, 0, 1, 8, 4, 2, 2,
        5, 4, 3, 8, 2, 6, 9, 3, 8, 8, 8, 1, 9, 6, 7, 0, 6, 2, 8, 1, 4, 3,
        6, 5, 1, 8, 5, 5, 1, 7, 1, 7, 4, 1, 1, 4, 7, 9, 5, 4, 2, 6, 5, 5,
        1, 1, 4, 1, 4, 4, 0, 5, 4, 5, 4, 6, 6, 7, 6, 1, 4, 4, 5, 6, 7, 8,
        7, 5, 3, 0, 7, 8, 7, 0, 0, 7, 8, 1, 6, 4, 5, 7, 9, 6, 4, 7, 3, 4,
        2, 9, 2, 4, 1, 8, 6, 8, 9, 5, 0, 4, 9, 5, 7, 4, 7, 6, 1, 5, 9, 5,
        6, 8, 8, 6, 7, 2, 2, 3, 1, 9, 5, 7, 2, 1, 5, 1, 2, 1, 5, 8, 6, 1,
        3, 0, 2, 4, 8, 1, 9, 4, 8, 3, 7, 3, 8, 4, 6, 0, 5, 1, 4, 4, 6, 9,
        8, 9, 9, 4, 7, 5, 2, 4, 2, 2, 7, 7, 4, 8, 3, 4, 1, 5, 7, 8, 8, 6,
        6, 1, 7, 5, 5, 4, 9, 3, 6, 7, 5, 8, 5, 6, 2, 7, 2, 6, 4, 5, 0, 8,
        9, 0, 5, 4, 9, 0, 1, 7, 0, 1, 1, 7, 3, 3, 6, 7, 2, 6, 7, 3, 3, 4,
        3, 3, 8, 0, 4, 8, 3, 7, 8, 5, 9, 9, 3, 1, 9, 6, 3, 4, 5, 3, 4, 9,
        5, 1, 8, 4, 1, 9, 4, 9, 3, 5, 0, 6, 6, 2, 0, 3, 8, 2, 8, 7, 8, 6,
        1, 4, 2, 3, 3, 4, 9, 9, 7, 0, 4, 3, 2, 7, 1, 4, 3, 2, 9, 6, 8, 6,
        6, 6, 4, 1, 7, 8, 2, 2, 4, 0, 4, 8, 3, 0, 1, 4, 0, 7, 7, 3, 1, 7,
        5, 2, 2, 9, 8, 2, 3, 2, 8, 0, 2, 8, 8, 6, 2, 2, 3, 9, 4, 4, 7, 7,
        5, 8, 7, 0, 9, 6, 5, 6, 6, 1, 0, 4, 4, 1, 6, 7, 0, 2, 9, 9, 4, 2,
        9, 7, 0, 0, 9, 3, 5, 6, 6, 8, 3, 6, 4, 4, 5, 2, 0, 7, 3, 8, 9, 1,
        1, 5, 5, 1, 0, 4, 4, 8, 4, 3, 5, 3, 3, 7, 6]])

In [85]:
matx

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
matx.insert(loc=0, column='A', value=list1)

Dataframe with all the variables

In [87]:
matx

,A,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
arrx = matx.to_numpy()

In [89]:
arrx

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int64)

Creating list of features

In [90]:
maty=df_new["Label"]
arry=maty.to_numpy()

Defining derivative function

In [92]:
def summation(a,b,c,j):
    for i in range(0,19999):
        X=0
        X=X+((a[i]-b[i])*c[i][j])
    return(X)

Creating a function that returns list of predicted ouputs for all test cases

In [93]:
maty=df_new["Label"]
arry=maty.to_numpy()
predout=np.zeros((19999),dtype=int)
for i in range(0,19999):
    entry=arrx[i]
    entry1=entry.reshape(785,1)
    predout[i]=matmul(theta,entry1)

Training the data set and calculating the weights

In [103]:
def training():
    f=0.1
    i=1
    for i in range(0,20000):
        theta1=theta
        for j in range(0,785):
            theta[0][j]=theta[0][j]-((f/19999)*summation(predout,arry,arrx,j))
        if set(theta1[0]) == set(theta[0]):
            break
    return(theta)
training()

array([[   4,    2,    7,    0,    2,    0,    0,    7,    5,    1,    7,
           8,    3,    5,    7,    7,    9,    7,    7,    4,    5,    3,
           9,    1,    9,    3,    9,    0,    8,    4,    0,    1,    7,
           0,    4,    9,    8,    7,    9,    5,    5,    8,    1,    9,
           4,    5,    7,    0,    8,    8,    1,    1,    3,    2,    6,
           5,    1,    9,    8,    1,    6,    9,    7,    5,    5,    2,
           2,    6,    4,    8,    1,    0,    6,    1,    5,    0,    2,
           5,    4,    8,    6,    2,    5,    2,    2,    3,    4,    9,
           4,    9,    4,    5,    4,    2,    5,    4,    5,    8,    3,
           9,    3,    4,    0,    0,    8,    7,    3,    2,    0,    7,
           6,    8,    2,    9,    5,    8,    1,    0,    6,    4,    5,
           7,    9,    9,    1,    8,    3,    8,    0,    8,    3,    2,
           1,    5,    1,    5,    8,    2,    3,    5,    9,    0,    7,
           7,    2,    7,    7,    7,  -16, -294, -431, -587, -590, -540,
        -396, -393, -328, -205,  -68,   -3,   -6,   -8,    5,    9,    8,
           5,    3,    6,    0,    5,    5,    0,    0,    8,    3,  -18,
        -318, -587, -591, -590, -593, -588, -593, -586, -590, -585, -589,
        -514, -495, -549, -129,    7,    9,    6,    9,    9,    9,    3,
           3,    5,    9,    2,   -7, -438, -594, -582, -498, -240, -141,
        -319, -221, -338, -408, -535, -591, -585, -591, -593, -265,    7,
           5,    9,    0,    9,    3,    6,    0,    6,    6,    1,  -35,
        -594, -593, -491,    4,    5,    4,    6,    2,    8,    5,   -6,
        -132, -220, -317, -317,  -80,    6,    0,    4,    6,    8,    2,
           5,    3,    5,    8,    5, -243, -589, -541,  -54,    4,    1,
           9,    4,    0,    4,    7,    1,    5,    4,    3,    4,    6,
           7,    9,    6,    3,    6,    2,    6,    3,    2,    8,    8,
        -500, -594, -334,    5,    2,    2,    1,    3,    8,    4,    2,
           4,    4,    2,    9,    6,    0,    8,    4,    0,    1,    3,
           3,    6,    1,    2,    5,    9, -589, -593, -194,    3,    2,
           6,    4,    9,    6,    4,    8,    8,    0,    0,    9,    6,
           1,    6,    1,    9,    5,    6,    9,    2,    1,    0,    0,
           3, -588, -586, -485, -193, -151, -147, -253, -336, -338, -527,
        -536, -398, -320, -148,  -22,    9,    9,    8,    3,    0,    0,
           1,    3,    7,    7,    2,    2,    3, -592, -592, -592, -585,
        -590, -585, -594, -593, -590, -593, -592, -591, -590, -588, -525,
        -226,    0,    9,    6,    3,    0,    1,    8,    4,    2,    2,
           5,    4, -531, -586, -592, -564, -390, -459, -391, -391, -391,
        -278, -201, -216, -413, -594, -588, -589, -358,  -17,    4,    3,
           6,    5,    1,    8,    5,    5,    1,    7,  -74, -377, -239,
         -41,    1,    4,    7,    9,    5,    4,    2,    6,    5,  -82,
        -440, -590, -593, -482,  -89,    4,    0,    5,    4,    5,    4,
           6,    6,    7,    6,    1,    4,    4,    5,    6,    7,    8,
           7,    5,    3,    0,    7,    8,    7, -282, -591, -587, -424,
         -20,    6,    4,    5,    7,    9,    6,    4,    7,    3,    4,
           2,    9,    2,    4,    1,    8,    6,    8,    9,    5,    0,
           4,    9,    5, -347, -590, -587, -222,    1,    5,    9,    5,
           6,    8,    8,    6,    7,    2,    2,    3,  -11,  -27,    5,
           7,    2,    1,    5,    1,    2,    1,    5,    8,  -24, -461,
        -591, -489,    2,    4,    8,    1,    9,    4,    8,    3,    7,
           3,    8,  -59, -492, -441,    5,    1,    4,    4,    6,    9,
           8,    9,    9,    4,    7, -250, -592, -590,    2,    2,    7,
           7,    4,    8,    3,    4,    1,    5,    7, -196, -586, -570,
        -282,  -47,    7,    5,    5,    4,    9,    3,    6,    7,    5,
        -247, -589, -552,    2,    7,    2,    6,    4,    5,    0,    8,
           9,    0,    5,   -6, -312, -573, -593, -542, -336, -266,  -41,
           7,    3,    3,    6,    7, -115, -477, -587, -354,    3,    4,
           3,    3,    8,    0,    4,    8,    3,    7,    8,    5,    9,
        -114, -522, -593, -585, -588, -555, -458, -340, -342, -341, -435,
        -565, -593, -586,  -92,    1,    9,    4,    9,    3,    5,    0,
           6,    6,    2,    0,    3,    8,    2,  -14, -191, -412, -585,
        -593, -590, -592, -591, -591, -590, -585, -540, -239,    0,    4,
           3,    2,    7,    1,    4,    3,    2,    9,    6,    8,    6,
           6,    6,    4,    1,    7,  -11, -208, -343, -395, -399, -554,
        -421, -294, -156,    1,    4,    0,    7,    7,    3,    1,    7,
           5,    2,    2,    9,    8,    2,    3,    2,    8,    0,    2,
           8,    8,    6,    2,    2,    3,    9,    4,    4,    7,    7,
           5,    8,    7,    0,    9,    6,    5,    6,    6,    1,    0,
           4,    4,    1,    6,    7,    0,    2,    9,    9,    4,    2,
           9,    7,    0,    0,    9,    3,    5,    6,    6,    8,    3,
           6,    4,    4,    5,    2,    0,    7,    3,    8,    9,    1,
           1,    5,    5,    1,    0,    4,    4,    8,    4,    3,    5,
           3,    3,    7,    6]])

In [104]:
theta

array([[   4,    2,    7,    0,    2,    0,    0,    7,    5,    1,    7,
           8,    3,    5,    7,    7,    9,    7,    7,    4,    5,    3,
           9,    1,    9,    3,    9,    0,    8,    4,    0,    1,    7,
           0,    4,    9,    8,    7,    9,    5,    5,    8,    1,    9,
           4,    5,    7,    0,    8,    8,    1,    1,    3,    2,    6,
           5,    1,    9,    8,    1,    6,    9,    7,    5,    5,    2,
           2,    6,    4,    8,    1,    0,    6,    1,    5,    0,    2,
           5,    4,    8,    6,    2,    5,    2,    2,    3,    4,    9,
           4,    9,    4,    5,    4,    2,    5,    4,    5,    8,    3,
           9,    3,    4,    0,    0,    8,    7,    3,    2,    0,    7,
           6,    8,    2,    9,    5,    8,    1,    0,    6,    4,    5,
           7,    9,    9,    1,    8,    3,    8,    0,    8,    3,    2,
           1,    5,    1,    5,    8,    2,    3,    5,    9,    0,    7,
           7,    2,    7,    7,    7,  -16, -294, -431, -587, -590, -540,
        -396, -393, -328, -205,  -68,   -3,   -6,   -8,    5,    9,    8,
           5,    3,    6,    0,    5,    5,    0,    0,    8,    3,  -18,
        -318, -587, -591, -590, -593, -588, -593, -586, -590, -585, -589,
        -514, -495, -549, -129,    7,    9,    6,    9,    9,    9,    3,
           3,    5,    9,    2,   -7, -438, -594, -582, -498, -240, -141,
        -319, -221, -338, -408, -535, -591, -585, -591, -593, -265,    7,
           5,    9,    0,    9,    3,    6,    0,    6,    6,    1,  -35,
        -594, -593, -491,    4,    5,    4,    6,    2,    8,    5,   -6,
        -132, -220, -317, -317,  -80,    6,    0,    4,    6,    8,    2,
           5,    3,    5,    8,    5, -243, -589, -541,  -54,    4,    1,
           9,    4,    0,    4,    7,    1,    5,    4,    3,    4,    6,
           7,    9,    6,    3,    6,    2,    6,    3,    2,    8,    8,
        -500, -594, -334,    5,    2,    2,    1,    3,    8,    4,    2,
           4,    4,    2,    9,    6,    0,    8,    4,    0,    1,    3,
           3,    6,    1,    2,    5,    9, -589, -593, -194,    3,    2,
           6,    4,    9,    6,    4,    8,    8,    0,    0,    9,    6,
           1,    6,    1,    9,    5,    6,    9,    2,    1,    0,    0,
           3, -588, -586, -485, -193, -151, -147, -253, -336, -338, -527,
        -536, -398, -320, -148,  -22,    9,    9,    8,    3,    0,    0,
           1,    3,    7,    7,    2,    2,    3, -592, -592, -592, -585,
        -590, -585, -594, -593, -590, -593, -592, -591, -590, -588, -525,
        -226,    0,    9,    6,    3,    0,    1,    8,    4,    2,    2,
           5,    4, -531, -586, -592, -564, -390, -459, -391, -391, -391,
        -278, -201, -216, -413, -594, -588, -589, -358,  -17,    4,    3,
           6,    5,    1,    8,    5,    5,    1,    7,  -74, -377, -239,
         -41,    1,    4,    7,    9,    5,    4,    2,    6,    5,  -82,
        -440, -590, -593, -482,  -89,    4,    0,    5,    4,    5,    4,
           6,    6,    7,    6,    1,    4,    4,    5,    6,    7,    8,
           7,    5,    3,    0,    7,    8,    7, -282, -591, -587, -424,
         -20,    6,    4,    5,    7,    9,    6,    4,    7,    3,    4,
           2,    9,    2,    4,    1,    8,    6,    8,    9,    5,    0,
           4,    9,    5, -347, -590, -587, -222,    1,    5,    9,    5,
           6,    8,    8,    6,    7,    2,    2,    3,  -11,  -27,    5,
           7,    2,    1,    5,    1,    2,    1,    5,    8,  -24, -461,
        -591, -489,    2,    4,    8,    1,    9,    4,    8,    3,    7,
           3,    8,  -59, -492, -441,    5,    1,    4,    4,    6,    9,
           8,    9,    9,    4,    7, -250, -592, -590,    2,    2,    7,
           7,    4,    8,    3,    4,    1,    5,    7, -196, -586, -570,
        -282,  -47,    7,    5,    5,    4,    9,    3,    6,    7,    5,
        -247, -589, -552,    2,    7,    2,    6,    4,    5,    0,    8,
           9,    0,    5,   -6, -312, -573, -593, -542, -336, -266,  -41,
           7,    3,    3,    6,    7, -115, -477, -587, -354,    3,    4,
           3,    3,    8,    0,    4,    8,    3,    7,    8,    5,    9,
        -114, -522, -593, -585, -588, -555, -458, -340, -342, -341, -435,
        -565, -593, -586,  -92,    1,    9,    4,    9,    3,    5,    0,
           6,    6,    2,    0,    3,    8,    2,  -14, -191, -412, -585,
        -593, -590, -592, -591, -591, -590, -585, -540, -239,    0,    4,
           3,    2,    7,    1,    4,    3,    2,    9,    6,    8,    6,
           6,    6,    4,    1,    7,  -11, -208, -343, -395, -399, -554,
        -421, -294, -156,    1,    4,    0,    7,    7,    3,    1,    7,
           5,    2,    2,    9,    8,    2,    3,    2,    8,    0,    2,
           8,    8,    6,    2,    2,    3,    9,    4,    4,    7,    7,
           5,    8,    7,    0,    9,    6,    5,    6,    6,    1,    0,
           4,    4,    1,    6,    7,    0,    2,    9,    9,    4,    2,
           9,    7,    0,    0,    9,    3,    5,    6,    6,    8,    3,
           6,    4,    4,    5,    2,    0,    7,    3,    8,    9,    1,
           1,    5,    5,    1,    0,    4,    4,    8,    4,    3,    5,
           3,    3,    7,    6]])

In [ ]:
Defing a cos function

In [107]:
def cost():
    pred_out=np.zeros((19999),dtype=int)
    for i in range(0,19999):
        entry=arrx[i]
        entry1=entry.reshape(785,1)
        predout[i]=matmul(theta,entry1)
    for k in range(0,19999):
        j=((pred_out[k]-arry[k])*(pred_out[k]-arry[k]))/(2*19999)
    return(j)

In [108]:
cost()

0.0006250312515625781